body{
    height: 700px;
}

.dropdown .btn-info {
    position: absolute;
    right: 6%;
    top: 5%;
}

ul.dropdown-menu {
    width: 25vw;
    padding: 20%;
    background-color: #2a1a1a;
}
ul.dropdown-menu h4{
    color: white;
}


#zillowRow .col-md-6 {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

#savedApartments h2 {
    margin-top: -4px;
}

.panel-body {
    padding: 0 15px 0 15px;
}

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#6FA2A2 0,#EBFEFF 100%);
    background-repeat: repeat-x;
}

.col-md-4 .row:first-child .form-group {
    margin-bottom: 0;
}

h2{
    font-size: 1.4em;
}

#savedApartments h2{
    color: white;
}

.navbar {
    margin-bottom: 0px !important;
}

nav a, p {
    color: #FFE8E8 !important;
}

nav p {
    margin-top: 1em;
    font-size: 1.2em;
}

.panel-heading a:hover {
    text-decoration: none;
    cursor: pointer;
}

.col-md-4 .col-md-12 .btn-success {
    margin-bottom: 4%;
}

.col-md-4{
    background-color: #FFF7E7;
}

div#savedColumn {
    height: 71%;
}

.panel-heading .btn {
    transform: translateY(-22%);
    padding: 1% 3%;
    margin: 1% 1% 0 1%;
}

div#savedApartments {
    height: 100%;
    box-sizing: border-box;
    padding: 3%;
    overflow: scroll;
    overflow-y: auto;
    border-radius: 5px;
    overflow-x: hidden;
    background-color: #2E2E2E;
}

button.btn.btn-success.savedBtn.pull-right {
    font-size:  0.8em;
    position: relative !important;
    top: 0.4em !important;
}

/*.col-md-4 .container-fluid {*/
    /*overflow: scroll;*/
/*}*/
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #770707;
    border-color: #337ab7;
}

.btn-danger{
    font-size: 1.2em;
    padding: 1% 5%;
}

.active{
    background-color: #050022 !important;
}
nav {
    background-color: #050022 !important
}

nav a{
    background: #050022 !important
}


.nav>li>a:hover {
    text-decoration: none;
    background-color: #5F3B0F !important;
}

span.glyphicon.glyphicon-ok {
    color: rgb(0, 151, 0);
    margin-right: 1%;
}

#beforeStats {
    height: 23%;
    /*background-color: rgba(0, 116, 228, 0.39);*/
}

#zillowRow ul {
    list-style-type: none;
    margin: 0 auto;
}

img#zillow-icon {
    width: 15%;
}

button.btn.btn-info.pull-right.danger2 {
    padding: .4em;
    margin: 25% 0;
}

.col-md-8 .col-md-6, .col-md-8 .container-fluid .row:nth-child(2) .col-xs-6 {
    padding: 0;
    border: 1px solid black;
}

.col-md-8, .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

.btn-default {
    color: #333;
    background-color: rgba(129, 234, 255, 0.97);
    border-color: #ccc;
    color: black;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    right: 11%;
    top: 2%;
}

div#map2 {
    height: 100%;
}

div#pano2 {
    height: 100%;
}

.col-md-8 .col-xs-12 {
    width: 100%;
    height: 100%;
}



#zillowHead{
    position: absolute;
    left: 14%;
    top: 10.35%;
    font-size: 1.6em;
    color: #6081ba;
}

.col-md-8 ul li {
    font-size: 1.2em;
}

.col-md-8>div {
    height: 100%;
}

.carousel-inner>div {
    height: 100%;
}

.carousel-inner>div>img {
    width: 100%;
    height: 100%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 100% !important;
}

div#map, div#pano {
    height: 100%;
}


.container-fluid:nth-child(2) {
    height: 95%;
    margin-top: 4%;
    padding-left: 0;
    padding-right: 0;
}


.col-md-3{
    border: 1px solid black !important;
}

/*form*/

.col-md-4:first-child {
    height: 100%;
}
/*container for right section*/
.col-md-8 {
    height: 100%;
}

.container-fluid {
    height: 100%;
}
.col-md-4>.container-fluid>.row:first-child {
    height: 30%;
}

.col-md-4>.container-fluid>.row:nth-child(2) {
    height: 70%;
}

.col-md-8 .container-fluid .row:first-child{
    height: 50%;
}

.col-md-8 .row:first-child>.col-md-6, .col-md-8 .row:first-child>.col-md-6>div, .col-md-8 .row:first-child>.col-md-6>div>img{
    height: 100%;
}

.col-md-8 .container-fluid .row:nth-child(2) {
    height: 50%;

}

.col-md-8 .container-fluid .row:nth-child(2) .col-xs-12 {
    height: 100%;
}

.col-xs-6 {
    height: 100%;
}

.col-md-8 .container-fluid .row:nth-child(2) .col-xs-6 {
    height: 100%;
}

div#myCarousel {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.item.active{
    height: 100%;
}

nav.navbar.navbar-fixed-top {
    background-color: #F38630;
}

.panel-heading a {
    font-size: 1.2em;
}



.panel-body {
    font-size: 1.6em;
}

a.navbar-brand {
    font-size: 1.8em;
    font-family: cursive;
    color: black;
}

.navbar-nav>li>a {
    font-size: 1.2em;
    color: black;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-size: 1.2em;
    padding: 1% 5%;
}

/*animate*/
@-webkit-keyframes fadeIn {
    0%   {position:relative; right: 300px; opacity: 0;}
    100% {position:relative; right: 0px; opacity: 1;}
}

.animateIn{
    -webkit-animation: fadeIn 1s 1;
}