<!--right section-->


    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6" ng-controller="statsController as sC">
                <a href="#zillowStatsFull"><button type="button" class="btn btn-default">View Full Screen</button></a>

                <h2 ng-show="sC.headerBool">Zillow Stats:</h2>
                <ul>
                    <li ng-repeat="(key,value) in sC.stats()">{{key}}  : {{value['#text']}}</li>
                </ul>

            </div>

                <!--gallery section-->
            <div class="col-md-6" ng-controller="galleryController as gC" >
                <a href="#galleryFull"><button type="button" class="btn btn-default">View Full Screen</button></a>

                <carousel interval="gC.interval">
                    <slide ng-repeat="slide in gC.returnArray()" active="slide.active">
                        <img ng-src="{{slide.src}}">
                    </slide>
                </carousel>
            </div>
        </div>

        <!--google bottom row  , another row below for google-->
        <div class="row" ng-controller="googleMapsController as gM">

            <div class="col-xs-6">
                <a  href="#mapsFull" > <button type="button" class="btn btn-default" >View Full Screen</button></a>

                <div id="map"></div>  <!--map-->

            </div>

            <div class="col-xs-6">
                <a  ng-click="gM.init()" href="#panoFull"><button type="button" class="btn btn-default" ng-click="gM.init()" >View Full Screen</button></a>

                <div id="pano"></div> <!--pano-->

            </div>

        </div>

    </div>
