<!--right section-->


    <div class="container-fluid">

        <div class="row" id="zillowRow" ng-controller="statsController as sC">
            <div ng-show='sC.returnNoResultsBool()' id="noResults">
                <p>We've checked with our friends at Zillow, and they have no records of this listing</p>
                <p>The address has still been saved.</p>

            </div>

            <div class="col-xs-6" >
                <a href="#zillowStatsFull"><button type="button" class="btn btn-default">Full Screen</button></a>

                <div id="beforeStats">
                    <a href="#"><img id='zillow-icon' src="images/zillowicon.jpg"></a>
                </div>

                <ul>
                    <li ng-repeat="(key,value) in sC.stats()"><span class="glyphicon glyphicon-ok"></span>{{key}}  : {{value['#text']}}</li>
                </ul>

               <hr>
            </div>



            <div class="col-xs-6" id="secondCol6" ng-controller="galleryController as gC" >
                <a href="#galleryFull"><button type="button" class="btn btn-default">View Full Screen</button></a>

                <carousel interval="gC.interval">
                    <slide ng-repeat="slide in gC.returnArray()" active="slide.active">
                        <img ng-src="{{slide.src}}">
                    </slide>
                </carousel>
            </div>

        </div>

        <!--google bottom row  , another row below for google-->
        <div class="row" ng-controller="googleMapsController as gM">

            <div class="col-xs-6">
                <a  href="#mapsFull" > <button type="button" class="btn btn-default" >Full Screen</button></a>

                <div id="map"></div>  <!--map-->

            </div>

            <div class="col-xs-6">
                <a  ng-click="gM.init()" href="#panoFull"><button type="button" class="btn btn-default" ng-click="gM.init()" >Full Screen</button></a>

                <div id="pano"></div> <!--pano-->

            </div>

        </div>

    </div>
